body{
    margin: 0px;
    padding: 0px;
    background-color: #EEE!important;
}
.form{
    height: auto;
    padding-bottom: 15px;
    background-color:burlywood;
    box-shadow: #3c40434d 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20%;
}
#name{
    color: red;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: none;
}
.j{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height:720px;
}